<?xml version="1.0"?>
<!--
  ~ Magmodules.eu - http://www.magmodules.eu
  ~
  ~ NOTICE OF LICENSE
  ~ This source file is subject to the Open Software License (OSL 3.0)
  ~ that is bundled with this package in the file LICENSE.txt.
  ~ It is also available through the world-wide-web at this URL:
  ~ http://opensource.org/licenses/osl-3.0.php
  ~ If you did not receive a copy of the license and are unable to
  ~ obtain it through the world-wide-web, please send an email
  ~ to info@magmodules.eu so we can send you a copy immediately.
  ~
  ~ @category      Magmodules
  ~ @package       Magmodules_Sortbydate
  ~ @author        Magmodules <info@magmodules.eu>
  ~ @copyright     Copyright (c) 2017 (http://www.magmodules.eu)
  ~ @license       http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  -->
<config>
    <modules>
        <Magmodules_Sortbydate>
            <version>1.5.0</version>
        </Magmodules_Sortbydate>
    </modules>
    <global>
        <helpers>
            <sortbydate>
                <class>Magmodules_Sortbydate_Helper</class>
            </sortbydate>
        </helpers>
        <models>
            <sortbydate>
                <class>Magmodules_Sortbydate_Model</class>
            </sortbydate>
        </models>
        <blocks>
            <sortbydate>
                <class>Magmodules_Sortbydate_Block</class>
            </sortbydate>
        </blocks>
        <resources>
            <sortbydate_setup>
                <setup>
                    <module>Magmodules_Sortbydate</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sortbydate_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Magmodules_Sortbydate>
                    <files>
                        <default>Magmodules_Sortbydate.csv</default>
                    </files>
                </Magmodules_Sortbydate>
            </modules>
        </translate>
        <layout>
            <updates>
                <Magmodules_Sortbydate>
                    <file>magmodules_sortbydate.xml</file>
                </Magmodules_Sortbydate>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magmodules_sortbydate after="Mage_Adminhtml">Magmodules_Sortbydate_Adminhtml</magmodules_sortbydate>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>